<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:util="http://www.springframework.org/schema/util"
             xmlns="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.staryn.blog.web.controller"/>

    <beans:bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <beans:property name="resourceLoaderPath" value="/WEB-INF/velocity/"/>
        <beans:property name="configLocation" value="classpath:velocity.properties"/>
    </beans:bean>

    <beans:bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <!--<beans:property name="prefix" value="/WEB-INF/velocity/"/>-->
        <beans:property name="contentType" value="text/html;charset=utf-8"/>
        <beans:property name="suffix" value=".vm"/>
        <beans:property name="order" value="1"/>
        <beans:property name="dateToolAttribute" value="dateTool"/>
        <beans:property name="numberToolAttribute" value="numberTool"/>
    </beans:bean>

    <beans:bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <beans:property name="contentType" value="text/html;charset=utf-8"/>
        <beans:property name="prefix" value="/WEB-INF/jsp/"/>
        <beans:property name="suffix" value=".jsp"/>
        <beans:property name="order" value="2"/>
    </beans:bean>

    <annotation-driven>
        <message-converters register-defaults="true">
            <beans:bean
                    class="org.springframework.http.converter.StringHttpMessageConverter">
                <beans:property name="supportedMediaTypes">
                    <util:list>
                        <beans:value>text/html;charset=UTF-8</beans:value>
                    </util:list>
                </beans:property>
            </beans:bean>
            <beans:bean
                    class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                <beans:property name="supportedMediaTypes">
                    <util:list>
                        <beans:value>application/json;charset=UTF-8</beans:value>
                    </util:list>
                </beans:property>
            </beans:bean>
        </message-converters>
    </annotation-driven>

    <!-- 采用AOP记录controller异常 -->
    <beans:bean id="controllerExceptionAop" class="com.staryn.blog.web.aop.ControllerExceptionAop"/>
    <aop:config>
        <aop:pointcut id="controllerExceptionCut" expression="within(@org.springframework.stereotype.Controller *)"/>
        <aop:advisor pointcut-ref="controllerExceptionCut" advice-ref="controllerExceptionAop"/>
    </aop:config>

    <!-- 采用AOP记录controller请求和返回日志 -->
    <beans:bean id="httpLogAop" class="com.staryn.blog.web.aop.HttpLogAop"/>
    <aop:config>
        <aop:pointcut id="controllerHttpLogCut" expression="within(@org.springframework.stereotype.Controller *)"/>
        <aop:advisor pointcut-ref="controllerHttpLogCut" advice-ref="httpLogAop"/>
    </aop:config>

    <!-- 上传文件拦截，设置最大上传文件大小   10M=10*1024*1024(B)=10485760 bytes -->
    <beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <beans:property name="maxUploadSize" value="10485760"/>
    </beans:bean>

    <resources mapping="/resources/**" location="/resources/"/>
    <resources mapping="/resources/**" location="/static/"/>
</beans:beans>
